@model NOVOROV.Models.Usuario

@{
    ViewData["Title"] = "Deletar Usuário";
}

<h4>Tem certeza que deseja deletar esse usuário?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicioAcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicioAcesso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFimAcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFimAcesso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneUsuario)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perfil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perfil.NomePerfil)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UsuarioId" />
        <input type="submit" value="Deletar" class="btn btn-danger" />
    </form>
</div>
