@model NOVOROV.Models.LogValor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LogValor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocorrencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocorrencia.CEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAlteracaoValor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAlteracaoValor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorAlteradoPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorAlteradoPor.UsuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorPerdaTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorPerdaTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorConteudoAnterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorConteudoAnterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorConteudoAtual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorConteudoAtual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorDiferenca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorDiferenca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorDiferencaPercentual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorDiferencaPercentual)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
