@model NOVOROV.Models.ApoliceSeguro

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ApoliceSeguro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoApoliceSeguro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoApoliceSeguro.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoApoliceSeguro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoApoliceSeguro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorApoliceSeguro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorApoliceSeguro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSite.NomeTipoSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoOcorrencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoOcorrencia.NomeTipoOcorrencia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
