@model NOVOROV.Models.Atendimento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Atendimento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chamado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chamado.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resposta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resposta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusAtendimentoChamado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusAtendimentoChamado.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
