@model NOVOROV.Models.Perda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Perda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroBOSinistroRede)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroBOSinistroRede)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadePerda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadePerda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoSinistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoSinistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorPerda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorPerda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorEfetivamenteRecuperado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorEfetivamenteRecuperado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorPerdaEvitada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorPerdaEvitada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocorrencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocorrencia.CEP)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>
