@model NOVOROV.Models.Espelho

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Espelho</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnalistaCriador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnalistaCriador.UsuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEspelho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEspelho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEspelho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEspelho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEnvioFinanceiro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEnvioFinanceiro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEnvioAnalise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEnvioAnalise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bytes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bytes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
