@model NOVOROV.Models.AnexosChamado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AnexosChamado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeAnexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeAnexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAnexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAnexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor.UsuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoAnexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoAnexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAnexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAnexo.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bytes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bytes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroVersaoAnexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroVersaoAnexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chamado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chamado.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
